In [2]:
import numpy as np
from matplotlib import rcParams
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import scipy.optimize as opt
import scipy.interpolate as interp
from scipy.stats import norm
from numba import jit, njit, int32, float64
import quantecon as qe

import seaborn as sns
from matplotlib import cm
from mpl_toolkits.mplot3d.axes3d import Axes3D

import eurostat

In [3]:
m = {
    'Jan': 1,
    'Feb': 2,
    'Mar': 3,
    'Apr': 4,
    'May': 5,
    'Jun': 6,
    'Jul': 7,
    'Aug': 8,
    'Sep': 9,
    'Oct': 10,
    'Nov': 11,
    'Dec': 12
}

In [11]:
m_aggreages_df = pd.read_csv('/Users/santerivaataja/Desktop/inflation-and-unemployment-lr.nosync/monetary-aggregates.csv')
m_aggreages_df = m_aggreages_df.set_index('date')
m_aggreages_df.index = [f'{i[:4]}-{m[i[4:]]}' for i in m_aggreages_df.index]
mq_aggreages_df = m_aggreages_df.groupby(pd.PeriodIndex(m_aggreages_df.index, freq='Q'), axis=0).mean()
mq_aggreages_df.head()

           MFI stocks    MFI flows   %-change
1980Q1  447605.333333  3520.000000        NaN
1980Q2  455965.333333  2461.000000        NaN
1980Q3  465624.000000  2655.000000        NaN
1980Q4  474421.333333  2220.333333        NaN
1981Q1  479429.000000  2656.666667        7.1

In [13]:
ue_df = eurostat.get_data_df('tipsun30')
ue_df = ue_df[ue_df['geo\\time'].str.match('FI') & ue_df['unit'].str.match('PC_ACT')]
ue_df.head()

,s_adj,sex,age,unit,geo\time,1995Q1,1995Q2,1995Q3,1995Q4,1996Q1,...,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2
10,SA,T,Y15-74,PC_ACT,FI,NaN,15.5,15.1,14.5,14.1,...,8.3,7.2,7.2,6.7,6.7,6.6,6.8,6.8,6.8,7.7