In [1]:
import numpy as np
from matplotlib import rcParams
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import scipy.optimize as opt
import scipy.interpolate as interp
from scipy.stats import norm
from numba import jit, njit, int32, float64
import quantecon as qe

import seaborn as sns
from matplotlib import cm
from mpl_toolkits.mplot3d.axes3d import Axes3D

import eurostat

In [2]:
m = {
    'Jan': 1,
    'Feb': 2,
    'Mar': 3,
    'Apr': 4,
    'May': 5,
    'Jun': 6,
    'Jul': 7,
    'Aug': 8,
    'Sep': 9,
    'Oct': 10,
    'Nov': 11,
    'Dec': 12
}

In [42]:
m_aggregates_df = pd.read_csv('/Users/santerivaataja/Desktop/inflation-and-unemployment-lr.nosync/monetary-aggregates.csv')
m_aggregates_df = m_aggregates_df.set_index('date')
m_aggregates_df.index = [f'{i[:4]}-{m[i[4:]]}' for i in m_aggregates_df.index]
mq_aggreages_df = m_aggregates_df.groupby(pd.PeriodIndex(m_aggregates_df.index, freq='Q'), axis=0).mean()
mq_aggreages_df = mq_aggreages_df.drop(mq_aggreages_df.columns[:2], axis=1).transpose()
mq_aggreages_df.columns = mq_aggreages_df.columns.astype(str)
mq_aggreages_df = mq_aggreages_df.drop(mq_aggreages_df.columns[:list(mq_aggreages_df.columns).index('2008Q1')], axis=1)
mq_aggreages_df.head()

,2008Q1,2008Q2,2008Q3,2008Q4,2009Q1,2009Q2,2009Q3,2009Q4,2010Q1,2010Q2,...,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3
%-change,3.6,2.233333,0.6,3.066667,5.766667,8.766667,12.6,12.133333,11.266667,10.033333,...,7.333333,6.766667,6.7,6.8,7.233333,8.033333,8.233333,8.8,12.333333,13.5

In [41]:
ue_df = eurostat.get_data_df('tipsun30')
ue_df = ue_df[ue_df['geo\\time'].str.match('FI') & ue_df['unit'].str.match('PC_ACT')]
ue_df = ue_df.drop(ue_df.columns[:list(ue_df.columns).index('2008Q1')], axis=1)
ue_df.head()

,2008Q1,2008Q2,2008Q3,2008Q4,2009Q1,2009Q2,2009Q3,2009Q4,2010Q1,2010Q2,...,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2
10,6.3,6.2,6.3,6.6,7.2,8.4,8.5,8.9,8.8,8.4,...,8.3,7.2,7.2,6.7,6.7,6.6,6.8,6.8,6.8,7.7

In [43]:
EMU_conv_df = eurostat.get_data_df('irt_lt_mcby_q')
EMU_conv_df = EMU_conv_df[EMU_conv_df['geo\\time'].str.match('FI')]
EMU_conv_df = EMU_conv_df.drop(EMU_conv_df.columns[:list(EMU_conv_df.columns).index('2008Q1')], axis=1)
EMU_conv_df.head()

,2008Q1,2007Q4,2007Q3,2007Q2,2007Q1,2006Q4,2006Q3,2006Q2,2006Q1,2005Q4,...,1982Q2,1982Q1,1981Q4,1981Q3,1981Q2,1981Q1,1980Q4,1980Q3,1980Q2,1980Q1
13,4.07,4.31,4.44,4.38,4.04,3.8,3.94,3.95,3.45,3.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
cpi = eurostat.get_data_df('tec00118')
cpi = cpi[cpi['geo\\time'].str.match('FI')]
cpi = cpi.drop(cpi.columns[:3], axis=1)
cpi.head()

In [47]:
fig, axs = plt.subplots(2,2)
axs[0,0].scatter(mq_aggreages_df)
axs[0,0].title('M1')
axs[1,0].scatter(ue_df)
axs[1,0].title('Unemployment')
axs[0,1].scatter(EMU_conv_df)
axs[0,1].title('Interest rate')
axs[1,1].scatter(cpi)
axs[1,1].title('CPI')

TypeError: missing a required argument: 'y'